In [1]:
import numpy as np
import csv
import joblib
from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

Import data and clean

In [31]:
df = pd.read_csv('CarData.csv')

In [32]:
df.head

<bound method NDFrame.head of              Make          Model   Price Reg year Vehicle type  Miles  \
0              AC          Cobra  106500     2021  Convertible   1000
1              AC          Cobra   76995     1999  Convertible  12500
2              AC          Cobra  109750     2001  Convertible  14000
3              AC          Cobra  145500     2020  Convertible    500
4              AC          Cobra  109995     2000  Convertible  21600
...           ...            ...     ...      ...          ...    ...
324134  Westfield          Sport   14995     2007         6000  miles
324135  Westfield          Sport   14995     2007         6000  miles
324136      Zenos            E10   22995     2016         2000  miles
324137      Zenos            E10   22995     2016         2000  miles
324138     Zimmer  Golden Spirit   29999     1981        Coupe  36000

       Engine size Horsepower Trans type Fuel type
0              6.2     Manual     Petrol       NaN
1              4.9        225     Manual    Petrol
2              4.9        225     Manual    Petrol
3           Manual     Petrol        NaN       NaN
4              3.5     Manual     Petrol       NaN
...            ...        ...        ...       ...
324134         NaN        NaN        NaN       NaN
324135         NaN        NaN        NaN       NaN
324136         NaN        NaN        NaN       NaN
324137         NaN        NaN        NaN       NaN
324138           5  Automatic     Petrol       NaN

[324139 rows x 10 columns]>

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324139 entries, 0 to 324138
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Make          324139 non-null  object
 1   Model         324139 non-null  object
 2   Price         324139 non-null  object
 3   Reg year      324139 non-null  object
 4   Vehicle type  324139 non-null  object
 5   Miles         324139 non-null  object
 6   Engine size   323940 non-null  object
 7   Horsepower    323564 non-null  object
 8   Trans type    314482 non-null  object
 9   Fuel type     307495 non-null  object
dtypes: object(10)
memory usage: 24.7+ MB

In [38]:
df = df.replace([np.inf, -np.inf], np.nan)

df[['Price', 'Reg year', 'Miles', 'Engine size', 'Horsepower']] = df[['Price', 'Reg year', 'Miles', 'Engine size', 'Horsepower']].apply(pd.to_numeric, errors='coerce')

df = df.astype({'Make':str, 'Model':str, 'Vehicle type':str, 'Trans type':str, 'Fuel type':str})

In [40]:
df = df.drop_duplicates()
df = df.dropna()

df.head

<bound method NDFrame.head of              Make       Model     Price  Reg year Vehicle type    Miles  \
1              AC       Cobra   76995.0    1999.0  Convertible  12500.0
2              AC       Cobra  109750.0    2001.0  Convertible  14000.0
6              AC       Cobra  120000.0    2000.0  Convertible   2993.0
13         Abarth  124 Spider   21440.0    2018.0  Convertible  11049.0
14         Abarth  124 Spider   17980.0    2017.0  Convertible  38625.0
...           ...         ...       ...       ...          ...      ...
324120      Volvo        XC90   39995.0    2016.0          SUV  46934.0
324121      Volvo        XC90   41990.0    2019.0          SUV  24322.0
324125  Westfield        2000   16995.0    1997.0  Convertible  17960.0
324126  Westfield        2000    8495.0    1996.0  Convertible  14500.0
324127  Westfield        2000   15000.0    2015.0  Convertible   2900.0

        Engine size  Horsepower Trans type Fuel type
1               4.9       225.0     Manual    Petrol
2               4.9       225.0     Manual    Petrol
6               4.9       225.0     Manual    Petrol
13              1.4       170.0  Automatic    Petrol
14              1.4       167.0     Manual    Petrol
...             ...         ...        ...       ...
324120          2.0       407.0  Automatic    Petrol
324121          2.0       235.0  Automatic    Diesel
324125          2.0       170.0     Manual    Petrol
324126          2.0       170.0     Manual    Petrol
324127          2.0       170.0     Manual    Petrol

[216501 rows x 10 columns]>

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 216501 entries, 1 to 324127
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Make          216501 non-null  object
 1   Model         216501 non-null  object
 2   Price         216501 non-null  float64
 3   Reg year      216501 non-null  float64
 4   Vehicle type  216501 non-null  object
 5   Miles         216501 non-null  float64
 6   Engine size   216501 non-null  float64
 7   Horsepower    216501 non-null  float64
 8   Trans type    216501 non-null  object
 9   Fuel type     216501 non-null  object
dtypes: float64(5), object(5)
memory usage: 18.2+ MB

In [44]:
df = df.reset_index(drop=True)

df.head

<bound method NDFrame.head of              Make       Model     Price  Reg year Vehicle type    Miles  \
0              AC       Cobra   76995.0    1999.0  Convertible  12500.0
1              AC       Cobra  109750.0    2001.0  Convertible  14000.0
2              AC       Cobra  120000.0    2000.0  Convertible   2993.0
3          Abarth  124 Spider   21440.0    2018.0  Convertible  11049.0
4          Abarth  124 Spider   17980.0    2017.0  Convertible  38625.0
...           ...         ...       ...       ...          ...      ...
216496      Volvo        XC90   39995.0    2016.0          SUV  46934.0
216497      Volvo        XC90   41990.0    2019.0          SUV  24322.0
216498  Westfield        2000   16995.0    1997.0  Convertible  17960.0
216499  Westfield        2000    8495.0    1996.0  Convertible  14500.0
216500  Westfield        2000   15000.0    2015.0  Convertible   2900.0

        Engine size  Horsepower Trans type Fuel type
0               4.9       225.0     Manual    Petrol
1               4.9       225.0     Manual    Petrol
2               4.9       225.0     Manual    Petrol
3               1.4       170.0  Automatic    Petrol
4               1.4       167.0     Manual    Petrol
...             ...         ...        ...       ...
216496          2.0       407.0  Automatic    Petrol
216497          2.0       235.0  Automatic    Diesel
216498          2.0       170.0     Manual    Petrol
216499          2.0       170.0     Manual    Petrol
216500          2.0       170.0     Manual    Petrol

[216501 rows x 10 columns]>

A known error from when i was doing my disertation is that converting the models to string corrected some volvo models into dates. Quickly fixing this before continuing

In [45]:
df.Model = df.Model.replace({"04-Apr": "4/4","09-Mar":"9-3","09-May":"9-5"})

Last check for null values before encoding

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216501 entries, 0 to 216500
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Make          216501 non-null  object
 1   Model         216501 non-null  object
 2   Price         216501 non-null  float64
 3   Reg year      216501 non-null  float64
 4   Vehicle type  216501 non-null  object
 5   Miles         216501 non-null  float64
 6   Engine size   216501 non-null  float64
 7   Horsepower    216501 non-null  float64
 8   Trans type    216501 non-null  object
 9   Fuel type     216501 non-null  object
dtypes: float64(5), object(5)
memory usage: 16.5+ MB